---
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size attributes from the SVG
// this will allow the SVG become fill width and full height. It will also be responsive.

import {Icon} from "astro-icon/components";

import {socials} from "../../data/social.ts";
import {techStack} from "../../data/techStack";
---
<section class="bg-primary">
  <div
      class="px-8 2xl:max-w-7xl mx-auto pt-12"
      data-aos="fade-up"
      data-aos-duration="1000">
    <svg viewBox="0 0 211 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
          d="M14.5193 15.784C15.47 15.784 16.2827 15.7533 16.9573 15.692C17.6627 15.6 18.2453 15.4313 18.7053 15.186C19.1653 14.9407 19.5027 14.6033 19.7173 14.174C19.9627 13.7447 20.0853 13.162 20.0853 12.426C20.0853 11.6593 19.9627 11.0613 19.7173 10.632C19.5027 10.172 19.1653 9.83467 18.7053 9.62C18.2453 9.37466 17.6627 9.22133 16.9573 9.16C16.252 9.068 15.4393 9.022 14.5193 9.022H11.1153V15.784H14.5193ZM0.489328 0.925998H14.1053C16.6813 0.925998 18.9047 1.07933 20.7753 1.386C22.646 1.662 24.2713 2.24467 25.6513 3.134C28.6873 5.158 30.2053 8.25533 30.2053 12.426C30.2053 16.1367 29.1167 18.9733 26.9393 20.936C24.7927 22.8987 21.634 23.88 17.4633 23.88H11.1153V34H0.489328V0.925998ZM42.4543 21.764C42.4543 23.9413 42.7456 25.5513 43.3283 26.594C43.9416 27.606 44.9843 28.112 46.4563 28.112C47.9283 28.112 48.9709 27.606 49.5843 26.594C50.1976 25.5513 50.5043 23.9413 50.5043 21.764C50.5043 19.5867 50.1976 17.992 49.5843 16.98C48.9709 15.968 47.9283 15.462 46.4563 15.462C44.9843 15.462 43.9416 15.968 43.3283 16.98C42.7456 17.992 42.4543 19.5867 42.4543 21.764ZM32.6563 21.764C32.6563 19.74 32.9629 17.9307 33.5763 16.336C34.2203 14.7107 35.1403 13.3307 36.3363 12.196C37.5323 11.0613 38.9736 10.2027 40.6603 9.62C42.3776 9.00667 44.3096 8.7 46.4563 8.7C48.6029 8.7 50.5196 9.00667 52.2063 9.62C53.9236 10.2027 55.3803 11.0613 56.5763 12.196C57.7723 13.3307 58.6769 14.7107 59.2903 16.336C59.9343 17.9307 60.2563 19.74 60.2563 21.764C60.2563 23.788 59.9343 25.6127 59.2903 27.238C58.6769 28.8633 57.7723 30.2433 56.5763 31.378C55.3803 32.482 53.9236 33.3407 52.2063 33.954C50.5196 34.5673 48.6029 34.874 46.4563 34.874C44.3096 34.874 42.3776 34.5673 40.6603 33.954C38.9736 33.3407 37.5323 32.482 36.3363 31.378C35.1403 30.2433 34.2203 28.8633 33.5763 27.238C32.9629 25.6127 32.6563 23.788 32.6563 21.764ZM64.2676 9.574H73.2376V14.036C73.8816 12.2267 74.8016 10.9233 75.9976 10.126C77.2243 9.32867 78.8343 8.93 80.8276 8.93H81.7016V18.636C80.9656 18.544 80.3063 18.498 79.7236 18.498C77.7609 18.498 76.3196 18.9427 75.3996 19.832C74.4796 20.6907 74.0196 22.0707 74.0196 23.972V34H64.2676V9.574ZM96.469 24.938C96.469 25.8273 96.7144 26.4253 97.205 26.732C97.7264 27.0387 98.5697 27.192 99.735 27.192C99.9497 27.192 100.164 27.192 100.379 27.192C100.624 27.192 100.87 27.1767 101.115 27.146V34.184C100.042 34.2453 98.999 34.2913 97.987 34.322C97.0057 34.3833 96.0397 34.414 95.089 34.414C93.5864 34.414 92.2984 34.2913 91.225 34.046C90.1824 33.8313 89.3237 33.448 88.649 32.896C88.005 32.344 87.5297 31.6233 87.223 30.734C86.947 29.8447 86.809 28.7407 86.809 27.422V15.186H83.359V9.574H86.809V2.03H96.469V9.574H101.023V15.186H96.469V24.938ZM105.886 15.094H102.85V9.574H105.886V8.056C105.886 5.296 106.56 3.28733 107.91 2.03C109.259 0.741998 111.375 0.0979978 114.258 0.0979978H119.686V6.216C119.502 6.216 119.318 6.216 119.134 6.216C118.98 6.18533 118.827 6.17 118.674 6.17C117.508 6.17 116.68 6.36933 116.19 6.768C115.73 7.136 115.5 7.826 115.5 8.838C115.5 8.96066 115.5 9.08333 115.5 9.206C115.53 9.298 115.546 9.42067 115.546 9.574H119.686V15.094H115.546V34H105.886V15.094ZM131.13 21.764C131.13 23.9413 131.421 25.5513 132.004 26.594C132.617 27.606 133.66 28.112 135.132 28.112C136.604 28.112 137.647 27.606 138.26 26.594C138.873 25.5513 139.18 23.9413 139.18 21.764C139.18 19.5867 138.873 17.992 138.26 16.98C137.647 15.968 136.604 15.462 135.132 15.462C133.66 15.462 132.617 15.968 132.004 16.98C131.421 17.992 131.13 19.5867 131.13 21.764ZM121.332 21.764C121.332 19.74 121.639 17.9307 122.252 16.336C122.896 14.7107 123.816 13.3307 125.012 12.196C126.208 11.0613 127.649 10.2027 129.336 9.62C131.053 9.00667 132.985 8.7 135.132 8.7C137.279 8.7 139.195 9.00667 140.882 9.62C142.599 10.2027 144.056 11.0613 145.252 12.196C146.448 13.3307 147.353 14.7107 147.966 16.336C148.61 17.9307 148.932 19.74 148.932 21.764C148.932 23.788 148.61 25.6127 147.966 27.238C147.353 28.8633 146.448 30.2433 145.252 31.378C144.056 32.482 142.599 33.3407 140.882 33.954C139.195 34.5673 137.279 34.874 135.132 34.874C132.985 34.874 131.053 34.5673 129.336 33.954C127.649 33.3407 126.208 32.482 125.012 31.378C123.816 30.2433 122.896 28.8633 122.252 27.238C121.639 25.6127 121.332 23.788 121.332 21.764ZM153.127 0.925998H162.925V34H153.127V0.925998ZM168.67 0.0979978H178.468V7.09H168.67V0.0979978ZM168.67 9.574H178.468V34H168.67V9.574ZM192.493 21.764C192.493 23.9413 192.785 25.5513 193.367 26.594C193.981 27.606 195.023 28.112 196.495 28.112C197.967 28.112 199.01 27.606 199.623 26.594C200.237 25.5513 200.543 23.9413 200.543 21.764C200.543 19.5867 200.237 17.992 199.623 16.98C199.01 15.968 197.967 15.462 196.495 15.462C195.023 15.462 193.981 15.968 193.367 16.98C192.785 17.992 192.493 19.5867 192.493 21.764ZM182.695 21.764C182.695 19.74 183.002 17.9307 183.615 16.336C184.259 14.7107 185.179 13.3307 186.375 12.196C187.571 11.0613 189.013 10.2027 190.699 9.62C192.417 9.00667 194.349 8.7 196.495 8.7C198.642 8.7 200.559 9.00667 202.245 9.62C203.963 10.2027 205.419 11.0613 206.615 12.196C207.811 13.3307 208.716 14.7107 209.329 16.336C209.973 17.9307 210.295 19.74 210.295 21.764C210.295 23.788 209.973 25.6127 209.329 27.238C208.716 28.8633 207.811 30.2433 206.615 31.378C205.419 32.482 203.963 33.3407 202.245 33.954C200.559 34.5673 198.642 34.874 196.495 34.874C194.349 34.874 192.417 34.5673 190.699 33.954C189.013 33.3407 187.571 32.482 186.375 31.378C185.179 30.2433 184.259 28.8633 183.615 27.238C183.002 25.6127 182.695 23.788 182.695 21.764Z"
          fill="#0000ff"
      />
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-4">
    <div class="mt-6 space-y-2">
      <div
          class="h-0.5 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="1000">
      </div>
      <div
          class="flex flex-col sm:flex-row gap-3 justify-between items-center"
          data-aos="fade-up"
          data-aos-duration="1500">
        <div class="flex gap-2 items-center text-secondary">
          <p class="font-semibold">Full Stack Developer</p>
          <p class="font-semibold">|</p>
          <p class="font-semibold">IT Consultant</p>
        </div>
        <div class="w-full lg:w-fit">
          <ul class="w-full items-center justify-evenly inline-flex gap-3 relative">
            {socials.map((social) => (
                <li>
                  <a
                      href={social.url}
                      aria-label={social.title}
                      class="text-secondary hover:text-black duration-200"
                      target="_blank"
                      rel="noopener noref errer"
                  >
                    <Icon name={social.icon} style="fill:secondary" class="text-secondary"/>
                  </a
                  >
                </li>
            ))}
          </ul>
        </div>

      </div>
      <div
          class="h-1.5 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>

      <div
          class="w-full mt-8 h-12 relative flex overflow-hidden border border-x-0 border-y-2 border-secondary py-2 group"
          data-aos="fade-up"
          data-aos-duration="3000"
      >
        <div
            class="absolute left-0 inline-flex w-full animate-marquee whitespace-nowrap group-hover:[animation-play-state:paused]">
          {techStack.map((tech) => (
              <a href={tech.url} class="flex flex-row group/tech gap-2 mx-auto" aria-label={tech.title}>
                <Icon name={tech.icon} class="text-secondary w-6 h-6 "/>
                <p class="hidden group-hover/tech:inline font-semibold text-secondary">{tech.title}</p>
              </a>
          ))}
        </div>

        <div
            class="absolute right-0 w-full inline-flex animate-marquee2 whitespace-nowrap group-hover:[animation-play-state:paused]">
          {techStack.map((tech) => (
              <a href={tech.url} class="flex flex-row group/tech gap-2 mx-auto" aria-label={tech.title}>
                <Icon name={tech.icon} class="text-secondary w-6 h-6"/>
                <p class="hidden group-hover/tech:inline font-semibold text-secondary">{tech.title}</p>
              </a>
          ))}
        </div>

      </div>
      <div
          class="h-14 bg-secondary flex justify-end items-center p-4"
          data-aos="fade-up"
          data-aos-duration="3000"
          data-aos-delay="150">
        <p style="font-family: 'Cedarville Cursive',serif" class="text-primary text-xs lg:text-base">
          Privitera Stefano Salvatore
        </p>
      </div>
    </div>
  </div>
</section>
