---
import {getLangFromUrl, useTranslations} from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const name = t('name')
const about = t('about')
const focus = t('focus')
const work = t('work')
const experience = t('experience')

---

<section class="bg-primary dark:bg-secondary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-3 text-secondary dark:text-primary gap-6">
      <div
          class="text-base lg:col-start-1 leading-relaxed"
          data-aos="fade-up"
          data-aos-duration="2000"
      >
        <h2 class="text-2xl italic font-bold">About me</h2>
        <p>{name}</p>
        <p>{about}</p>
      </div>
      <div
          class="text-base lg:col-start-3 leading-relaxed "
          data-aos="fade-up"
          data-aos-duration="2200"
      >
        <h2 class="text-2xl italic font-bold">Focus</h2>
        <p>{focus}</p>

      </div>
      <div
          class="text-base lg:row-start-2 lg:col-start-2 leading-relaxed"
          data-aos="fade-up"
          data-aos-duration="2000"
      >
        <h2 class="text-2xl italic font-bold">Work</h2>
        <p>{work}</p>

      </div>
      <div
          class="text-base lg:col-start-3 lg:row-start-3 leading-relaxed"
          data-aos="fade-up"
          data-aos-duration="2500"
      >
        <h2 class="text-2xl italic font-bold">Experience</h2>
        <p>{experience}</p>
      </div>
    </div>
  </div>
</section>
